name: Daily Calorie Summary
on:
  schedule:
    - cron: '59 20 * * *'
  workflow_dispatch:
jobs:
  summary:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    - name: Install notion-client
      run: pip install notion-client==2.2.1
    - name: Run script
      env:
        NOTION_TOKEN: ${{ secrets.NOTION_TOKEN }}
        DAILY_SUM_ARCHIVE_DB: ${{ secrets.DAILY_SUM_ARCHIVE_DB }}
      run: python daily-summary.py
